@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen-nav {
    min-height: calc(100vh - 64px);
}

.fadein-item {
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
    
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
    
.title-gradient {
    background: linear-gradient(90deg, #00a19a, #33b4ae 45%, #66c7c2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 50px rgba(192, 219, 255, 0.25)
  }

.text-shadown-hover:hover {
    text-shadow : 0 0 20px -7px rgba(0,161,154,1);
}

.esdt-gallery {
    z-index: 0;
    will-change: -webkit-mask-position, -moz-mask-position, mask-position, transform;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle at 0% 0%, black 0%, rgba(0, 0, 0, 0.035) 0%);
    mask-image: radial-gradient(circle at 0% 0%, black 0%, rgba(0, 0, 0, 0.035) 0%);
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 200% 200%;
    mask-size: 200% 200%;
}

@media (min-width: 768px) {
    .esdt-gallery {
        display: block;
        position: relative;
        transform-origin: right center;
        -webkit-transform: perspective(140px) rotateY(-3deg) translatez(0) translatex(-50px);
        -moz-transform: perspective(140px) rotateY(-3deg) translatez(0) translatex(-50px);
        -ms-transform: perspective(140px) rotateY(-3deg) translatez(0) translatex(-50px);
        transform: perspective(140px) rotateY(-3deg) translatez(0) translatex(-50px);
        right: -50px;
        padding: 1rem;
        will-change: -webkit-mask-position, -moz-mask-position, mask-position, transform;
        overflow: hidden;
        -webkit-mask-image: radial-gradient(circle at 50% 50%, black 10%, rgba(0, 0, 0, 0.1) 50%);
        mask-image: radial-gradient(circle at 50% 50%, black 10%, rgba(0, 0, 0, 0.1) 50%);
        -webkit-mask-position: 0% 50%;
        mask-position: 0% 50%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 200% 200%;
        mask-size: 200% 200%;
    }
}